/* Importación de Fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Petit+Formal+Script&display=swap');

/* Estilos de Header y Navegación */

.backgroundimage{
  background: url(../assets/backgroundimage.jpg);
  background-size: cover;
}

header h1{
  color: #F5E8CE;
  font-size: 5rem;
  font-family: "Petit Formal Script", cursive;
  font-weight: 700;
  font-style: inherit;
}

header ul{
  list-style: none; 
}

header a{ 
  font-family: "Merriweather", serif;
  color: #F5E8CE;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Estilos Principales y Secciones */

main{
  background-color: white;
}

.primer-frase{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 35px;
}

.presentacion-de-pagina {
  background: #ccbea3;
}

main h3{
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-size: 25px;
}

main p, 
main ul, 
main ol{
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

ol li::marker{
  font-weight: 600;
}

figcaption{
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

article{
  background-color: #ffe9bc;
  color: #0f0f0f;
}

form{
  font-family: "Merriweather", serif;
  font-weight: 700;
}

/* Estilos Específicos de Recetas */

.receta{
  background-color: #ffe9bc;
  font-size: 20px;
}

.nombre-receta{
  background-color: #b89a39;
  color: azure;
  font-family: "Merriweather", serif;
  font-size: 30px;
}

article h4{ 
  background-color: #b89a39;
  color: azure;
  font-family: "Merriweather", serif;
  font-size: 20px;
}

/* Pie de Página */

footer{
  background-color: #4D1C00;
  font-family: "Merriweather", serif;
  color: white;
  font-weight: 600;
}

footer a{
  color: white;
}

footer ul{
  list-style: none;
}